@import "bootstrap-icons/font/bootstrap-icons";
@import '~codemirror/lib/codemirror.css';
@import '~codemirror/theme/material.css';
@import '~codemirror/addon/fold/foldgutter.css';
@import '~codemirror/addon/lint/lint.css';

:root {
  --navbar-height: 4rem;
  --border-radius-c: 20px;
  --blue-color: #add8e6;
  //--blue-color: #0051FF;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: var(--blue-color);
}

button:disabled {
  cursor: not-allowed;
  pointer-events: all !important;
}

.cursor-pointer {
  cursor: pointer !important;
}

.highlighted {
  background-color: #ffe665;
}

.line-error + div + .CodeMirror-line {
  span[role=presentation] {
    background-color: #FBE3E4;
  }
}
